@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        <span class="ww">Welcome </span>to Our Show car
    </h1>
    <p></p>
    <img src="./css/car.png"/>
</div>
